@tailwind base;
@tailwind components;
@tailwind utilities;
/*Google Fonts*/
@font-face {
    font-family: 'Genos';
    src: url('../src/assets/fonts/Genos-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Lemon';
    src: url('../src/assets/fonts/Lemon-Regular.ttf');
}
@font-face {
    font-family: 'Oswald';
    src: url('../src/assets/fonts/Oswald-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Salsa';
    src: url('../src/assets/fonts/Salsa-Regular.ttf');
}

html {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.301)),
    url(../src/assets/images/putzer.jpg)
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.oswald {
    font-family: 'Oswald', sans-serif;
}
.lemon {
    font-family: 'Lemon', sans-serif;
}
.genos {
    font-family: 'Genos', sans-serif;
}
.salsa {
    font-family: 'Salsa', sans-serif;
}
/*Custom Loaders*/
.loader {
    position: fixed;
    background-color: rgb(7, 7, 7);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }
  .circle {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #e2c9bd;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    animation-name: bounce;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .circle:nth-child(2) {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #afe0e4;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 50px;
    margin: auto;
    animation-name: bouncee;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .circle:nth-child(3) {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #e1a5e6;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 50px;
    left: 0px;
    margin: auto;
    animation-name: bouncer;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

    /*Custom Animations*/
    @keyframes bounce{
        0%   { transform: translateY(25px); }
        25%  { transform: translateY(50px);}
        50%  { transform: translateY(25px); }
        75%  { transform: translateY(0px);}
        100% { transform: translateY(25px); }
      }
      @keyframes bouncee{
        0%   { transform: translateY(0); }
        25%  { transform: translateY(25px);}
        50%  { transform: translateY(50px); }
        75%  { transform: translateY(25px);}
        100% { transform: translateY(0); }
      }
      @keyframes bouncer{
        0%   { transform: translateY(50px); }
        25%  { transform: translateY(25px);}
        50%  { transform: translateY(0px); }
        75%  { transform: translateY(25px);}
        100% { transform: translateY(50px); }
      }