@tailwind base;
@tailwind components;
@tailwind utilities;
/*Google Fonts*/
@font-face {
    font-family: 'Genos';
    src: url('../src/assets/fonts/Genos-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Lemon';
    src: url('../src/assets/fonts/Lemon-Regular.ttf');
}
@font-face {
    font-family: 'Oswald';
    src: url('../src/assets/fonts/Oswald-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Salsa';
    src: url('../src/assets/fonts/Salsa-Regular.ttf');
}

html {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.301)),
    url(../src/assets/images/putzer.jpg)
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.oswald {
    font-family: 'Oswald', sans-serif;
}
.lemon {
    font-family: 'Lemon', sans-serif;
}
.genos {
    font-family: 'Genos', sans-serif;
}
.salsa {
    font-family: 'Salsa', sans-serif;
}